<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="research.dao.ResearchDao">

	<select id="selectAll" resultType="Survey">
		SELECT * FROM survey
		ORDER BY sur_seq DESC
	</select>
	
	<insert id="insertSurvey" parameterType="Survey">
		
		<selectKey order="BEFORE" resultType="int" keyProperty="surSeq">
			SELECT survey_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO survey (sur_seq, sur_title, sur_cnt, sur_start_date, sur_end_date, reg_name, udt_name)
		VALUES (#{surSeq}, #{surTitle}, #{surCnt}, #{surStartDate}, #{surEndDate}, 'ehdcks112', 'ehdcks112')
	</insert>
	
	<insert id="insertSurveyContent" parameterType="SurveyContent">
		INSERT INTO survey_content (surq_seq, sur_seq, surq_title, surq_title1, surq_title2, surq_title3, surq_title4, surq_title5, reg_name)
		VALUES (survey_content_seq.nextval, #{surSeq}, #{surqTitle}
			, #{surqTitle1}
			, #{surqTitle2}
			<if test="!surqTitle3.equals('')">
				, #{surqTitle3}
			</if>
			<if test="!surqTitle4.equals('')">
				, #{surqTitle4}
			</if>
			<if test="!surqTitle5.equals('')">
				, #{surqTitle5}
			</if>
			, '장동찬')
	</insert>
	
	<select id="selectSurvey" parameterType="Survey" resultType="Survey">
		SELECT * FROM survey
		WHERE sur_seq = #{surSeq}
	</select>
	
	<select id="selectSurveyContent" parameterType="Survey" resultType="SurveyContent">
		SELECT * FROM survey_content
		WHERE sur_seq = #{surSeq}
		ORDER BY surq_seq ASC
	</select>
	
	<insert id="insertSurveyResult" parameterType="SurveyResult">
		INSERT INTO sur_result (surr_seq, sur_seq, surq_seq, choose_num, 
		<if test="!description.equals('')">
		 	description,
		</if>
			 writer )
		VALUES (sur_result_seq.nextval, #{surSeq}, #{surqSeq}, #{chooseNum},
		<if test="!description.equals('')">
			#{description},
		</if> 
			'장동찬')
	</insert>
	

</mapper>