<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="research.dao.ResearchDao">

	<select id="selectCntAll" parameterType="research.util.Paging" resultType="int">
		SELECT count(*) FROM survey
		WHERE 1=1
		<if test="!search.equals('')">
			<if test="category.equals('title')">
				AND REGEXP_LIKE ( sur_title, #{search} )
			</if>
			<if test="category.equals('writer')">
				AND REGEXP_LIKE ( writer, #{search} )
			</if>
		</if>
	</select>
	
	<select id="selectAll" parameterType="research.util.Paging" resultType="Survey">
		SELECT * FROM (
			SELECT SSS.* FROM (
				SELECT rownum, SS.* FROM (
					SELECT rownum rnum, S.* FROM (
						SELECT 
							survey.*
							, (SELECT count(*) FROM sur_result WHERE sur_result.sur_seq = survey.sur_seq AND writer = #{writer})AS did_sur
						FROM survey
						WHERE 1=1
						<if test="!search.equals('')">
							<if test="category.equals('title')">
								AND REGEXP_LIKE ( sur_title, #{search} )
							</if>
							<if test="category.equals('writer')">
								AND REGEXP_LIKE ( writer, #{search} )
							</if>
						</if>
						ORDER BY survey.sur_seq DESC
					)S
					ORDER BY rnum DESC
				)SS
			)SSS
			ORDER BY rnum ASC
		)
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<insert id="insertSurvey" parameterType="Survey">
		
		<selectKey order="BEFORE" resultType="int" keyProperty="surSeq">
			SELECT survey_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO survey (sur_seq, sur_title, sur_cnt, sur_start_date, sur_end_date, writer, reg_name)
		VALUES (#{surSeq}, #{surTitle}, #{surCnt}, #{surStartDate}, #{surEndDate}, #{writer}, #{regName})
	</insert>
	
	<insert id="insertSurveyContent" parameterType="SurveyContent">
		INSERT INTO survey_content (surq_seq, sur_seq, surq_title, surq_title1, surq_title2
			<if test="!''.equals(surqTitle3)">
				, surq_title3
			</if>
			<if test="!''.equals(surqTitle4)">
				, surq_title4
			</if>
			<if test="!''.equals(surqTitle5)">
				, surq_title5
			</if>
		 	, reg_name)
		 	
		VALUES (survey_content_seq.nextval, #{surSeq}, #{surqTitle}, #{surqTitle1}, #{surqTitle2}
			<if test="!''.equals(surqTitle3)">
				, #{surqTitle3}
			</if>
			<if test="!''.equals(surqTitle4)">
				, #{surqTitle4}
			</if>
			<if test="!''.equals(surqTitle5)">
				, #{surqTitle5}
			</if>
			, #{regName})
	</insert>
	
	<select id="selectSurvey" parameterType="Survey" resultType="Survey">
		SELECT * FROM survey
		WHERE sur_seq = #{surSeq}
	</select>
	
	<select id="selectSurveyContent" parameterType="Survey" resultType="SurveyContent">
		SELECT * FROM survey_content
		WHERE sur_seq = #{surSeq}
		ORDER BY surq_seq ASC
	</select>
	
	<insert id="insertSurveyResult" parameterType="SurveyResult">
		INSERT INTO sur_result (surr_seq, sur_seq, surq_seq, choose_num, 
		<if test="!description.equals('')">
		 	description,
		</if>
			 writer )
		VALUES (sur_result_seq.nextval, #{surSeq}, #{surqSeq}, #{chooseNum},
		<if test="!description.equals('')">
			#{description},
		</if> 
			#{writer})
	</insert>
	
	<update id="updateHit" parameterType="int">
		UPDATE survey
		SET hit = hit + 1
		WHERE sur_seq = #{surSeq}
	</update>
	
	<select id="selectAdminLogin" parameterType="Users" resultType="Users">
		SELECT * FROM users
		WHERE user_id = #{userId}
	</select>
	
	<select id="selectUsersLogin" parameterType="Users" resultType="Users">
		SELECT * FROM users
		WHERE user_id = #{userId}
	</select>
	
	<update id="updateSurvey" parameterType="Survey">
		UPDATE survey
		SET sur_title = #{surTitle},sur_cnt = #{surCnt}, 
			sur_start_date = #{surStartDate}, sur_end_date = #{surEndDate}, 
			udt_name = #{udtName}, udt_date = sysdate
		WHERE sur_seq = #{surSeq}
	</update>
	
	<delete id="deleteSurveyContent" parameterType="Survey">
		DELETE FROM survey_content
		WHERE sur_seq = #{surSeq}
	</delete>
	
	<delete id="deleteSurvey" parameterType="Survey">
		DELETE FROM survey
		WHERE sur_seq = #{surSeq}
	</delete>
	
	<select id="selectSurveyResult" parameterType="Survey" resultType="SurveyResult">
		SELECT * FROM sur_result
		WHERE sur_seq = #{surSeq}
	</select>
	
	<select id="selectTotalResult" parameterType="Survey" resultType="hashmap">
		SELECT survey_content.*
			, ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq)AS totalCnt
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 1 )AS num1
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 2 )AS num2
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 3 )AS num3
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 4 )AS num4
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 5 )AS num5
		FROM survey_content
		WHERE survey_content.sur_seq = #{surSeq}
	</select>
	
	<select id="selectMyResult" parameterType="Survey" resultType="hashmap">
		SELECT survey_content.*
			, ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq)AS totalCnt
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 1 )AS num1
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 2 )AS num2
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 3 )AS num3
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 4 )AS num4
            , ( SELECT count(*) FROM sur_result WHERE sur_result.surq_seq = survey_content.surq_seq AND choose_num = 5 )AS num5
			, ( SELECT choose_num FROM sur_result WHERE sur_seq = #{surSeq} AND sur_result.surq_seq = survey_content.surq_seq AND writer = #{regName})AS choosenum
			, ( SELECT description FROM sur_result WHERE sur_seq = #{surSeq} AND sur_result.surq_seq = survey_content.surq_seq AND writer = #{regName})AS description
		FROM survey_content
		WHERE survey_content.sur_seq = #{surSeq}
	</select>
	
	<select id="selectSurveyResultDescription" parameterType="SurveyResult" resultType="SurveyResult">
		SELECT * FROM sur_result
		WHERE sur_seq = #{surSeq} AND surq_seq = #{surqSeq} AND choose_num = #{chooseNum}
	</select>
	
	<update id="updateSurveyResult" parameterType="SurveyResult">
		UPDATE sur_result
		SET choose_num = #{chooseNum}, description = #{description}
		WHERE sur_seq = #{surSeq} AND surq_seq = #{surqSeq} AND writer = #{writer}
	</update>
	
	<delete id="deleteSurveyResult" parameterType="SurveyResult">
		DELETE FROM sur_result
		WHERE sur_seq = #{surSeq} AND writer = #{writer}
	</delete>
	
	<update id="decreaseHit" parameterType="SurveyResult">
		UPDATE survey
		SET hit = hit - 1
		WHERE sur_seq = #{surSeq}
	</update>
	
	<select id="userChk" parameterType="SurveyResult" resultType="int">
		SELECT count(*) FROM sur_result
		WHERE sur_seq = #{surSeq} AND writer = #{writer}
	</select>
	
	<select id="getUsersData" parameterType="Survey" resultType="Users">
		SELECT users.* FROM users
		WHERE users.user_id IN (SELECT writer FROM sur_result WHERE sur_seq = #{surSeq} GROUP BY writer)
	</select>
	
	
</mapper>